// ======================================
//  Image Styles
// ======================================

.img-featured {
  @include roundy($dim: 165px, $brdr: 4px solid $white);
  margin-top: 75px;
  position: relative;
  z-index: 100;

  @include mq(xs) {
      display: none;
  }
}