// ======================================
//  Layout Container Styles
// ======================================

// Main content
.main-content {
  @include flexy($wrap: wrap);

  @include mq('med') {
    @include center(90%);
  }
}

// Inner
.inner {
  padding: 0.5em 1em;
}


// Intro
.intro {
  margin: auto;
  padding: 1em 1em 3em;
  p {
    font-size: 1.2em;
  }
  @include mq('lg') {
    width: 45%;
  }
}

