// ======================================
//  Variables
// ======================================

// Colors
$white: #fff;

$color-primary: #278da4; // teal
$color-secondary: #b13c69; // dark violet red
$color-accent: #eeea72;
$color-shade: #eee;

$color-text: #343434;
$color-bg: #3acec2;
$color-bg-light: #009fe1;

// Fonts
$font-stack-primary: 'Raleway', sans-serif;
$font-stack-secondary: 'Bree Serif', serif;

// Layout
$max-width: 1000px;