// =========================================
//  Base Styles
// =========================================

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  color: #343434;
  font: 100%/1.5 sans-serif;
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

h1 {
  font-family: 'Bree Serif', serif;
}

%btn {
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  padding: .75em 1.5em;
  border-radius: .35em;
  display: inline-block;
  transition: .3s;
  transition: opacity .3s;
}

.btn {
  @extend %btn;
  margin-top: 1.5em;
  font-size: 1em;
}

header {
  height: 430px;
  padding: 0.5em 0;
  margin-bottom: 3em;
  h1 {
    font-size: 4.6em;
    margin-bottom: 0;
  }
  p {
    font-size: 1.1em;
  }
}

.main-nav {
  list-style-type: none;
  padding: 0;
  li {
    display: inline-block;
    margin: 0 0.75em;
  }
  a {
    text-transform: uppercase;
    padding: 0.5em;
    text-decoration: none;
  }
}